<!DOCTYPE html>
<html lang="en">

<head>
	<title>Mission to Mars | Index</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/main.css') }}"">
</head>

<body>

	<div class="container-fluid">

		<section class="jumbotron text-center" id="title-section">
			<h1>Mission to Mars</h1>
			<p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
		</section>

		<section id="news-section">
			<h2>Latest Mars News</h2>
			<h4>{{ mars_news_from_mongo.title }}</h4>
			<p>{{ mars_news_from_mongo.paragraph }}</p>
			<p><small>Publish Date: {{ mars_news_from_mongo.publish_date }}</small></p>
		</section>

		<section id="featured_img_section">

			<div id="featured_img">
				<h2>Featured Mars Image</h2>
				<img src={{mars_news_from_mongo.featured_image_url}} >
			</div>

			<div id="info_panel">

				<div id="weather_info">
					<h4>Current Weather on Mars</h4>
					<p>{{ mars_news_from_mongo.weather }}</p>
				</div>

				<div id="fact_table">
					<h4>Mars Facts</h4>
	   				{{ mars_news_from_mongo.html_table|safe }}
				</div>
			</div>
		</section>

		<section id="hemis_section">
			<h2>Mars Hemispheres</h2>
			{% for img in mars_news_from_mongo.hemisphere_image_urls %}
				<div class="hemis_imgs">
					<p><img src={{ img.url }} alt={{img.title}}></p>
					<p class="img_title">
						<span><b>{{ img.title }}</b></span>
					</p>
				</div>
			{% endfor %}
		</section>
	</div>
</body>
</html>