<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport", content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Mission to Mars | Index</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron text-center">
			<h1>Mission to Mars</h1>
			<p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Data</a></p>
		</div>

		<div>
			<h2>Latest Mars News</h2>
			<p>{{ mars_news_from_mongo.title }}</p>
			<p>Publish Date: {{ mars_news_from_mongo.publish_date }}</p>
			<p>{{ mars_news_from_mongo.paragraph }}</p>
		</div>

		<div>
			<h2>Featured Mars Image</h2>
			<img src={{ mars_news_from_mongo.featured_image_url }}>
		</div>

		<div>
			<div>
				<h4>Current Weather on Mars</h4>
				<p>{{ mars_news_from_mongo.weather }}</p>
			</div>

			<div>
				<h4>Mars Facts</h4>
   				{{ mars_news_from_mongo.html_table|safe }}
			</div>
		</div>

		<div>
			<h4>Mars Hemispheres</h4>
			<div>
				{% for img in mars_news_from_mongo.hemisphere_image_urls %}
					<p><img src={{ img.url }} alt={{img.title}}>{{img.title}}</p>
				{% endfor %}
			</div>
		</div>
	</div>
</body>

</html>