#title-section p {
	margin-top: 35px;
}

#news-section {
	margin-top: 40px;
}

#news-section h4 {
	margin-top: 30px;
}

#featured_img_section {
	margin-top: 20px; 
	display: block; 
	height: auto; 
	clear: both; 
	overflow: auto;
}

#featured_img {
	float: left; 
	width: 70%; 
	margin-right: 2.5%; 
	overflow: auto; 
	clear: both;
}

#featured_img h2 {
	margin-bottom: 30px;
}

#featured_img img {
	width: 100%;
	height: auto;
}

#info_panel {
	height: auto; 
	overflow: auto; 
	margin-top: 80px;
}

#weather_info {
	border: 1px solid #DDD; 
	max-width: 335px; 
	margin-bottom: 30px; 
	padding: 10px 20px;
}

#weather_info p {
	margin-top: 15px;
}

#fact_table h4 {
	margin-bottom: 20px;
}

#hemis_section {
	margin-top: 30px; 
	display: block; 
	width: 100%; 
	height: auto; 
	clear: both; 
	overflow: auto;
}

#hemis_section h2 {
	text-align: center;
}

.hemis_imgs {
	float: left; 
	width: 46%; 
	margin: 2% 4% 2% 0; 
	padding-bottom: 2%; 
	border: 1px solid #DDD;
}

.hemis_imgs img {
	width: 100%;
	height: auto;
}

.img_title {
	margin-top: 20px;
}

.img_title span {
	margin-left: 15px;
}

